body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #66afff;
}

header,
footer {
    color: #f9faf8;
    background-color: #1f1f1f;
    padding: 1rem 2rem;
}

header {
    font-size: 2rem;
    font-weight: 700;
}

main {
    display: flex;
    flex: 1;
    margin: 2rem;
}

.left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 0;
}

h1 {
    background-color: white;
    border: 4px solid black;
    width: 24rem;
    padding: 1rem;
    text-align: center;
}

.round-result {
    box-sizing: border-box;
    display: flex;
    height: 8rem;
    width: 32rem;
    background-color: #a9a9a9;
    border: 4px solid #808080;
    border-radius: 1rem;
    padding: 2rem;
    font-size: 1.5rem;
    text-shadow: 1px 1px #1f1f1f;
    box-shadow: 0px 0px 4px #1f1f1f;
    align-items: center;
}

.choices {
    display: flex;
    align-items: center;
    gap: 3rem;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-width: 3px;
    border-style:groove;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 7.5rem;
    width: 6rem;
    background-color: white;
}

button:hover {
    font-weight: 700;
    text-decoration: underline;
    border-width: 2px;
    border-style: solid;
    transform: scale(1.05);
    box-shadow: 0px 0px 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

img.scissors,
.match-result {
    flex: 1;
    text-align: center;
}

.right-side {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    border: 4px solid black;
}

h2 {
    margin: 0;
}

.scoreboard {
    font-size: 3rem;
}

.player-score,
.computer-score {
    font-size: 5rem;
    font-weight: 700;
    text-shadow: 1px 1px #1f1f1f;
}

.player-score {
    color: #008000;
}

.computer-score {
    color: #ff0000;
}

.match-result {
    display: flex;
    align-items: center;
    margin: 4rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 1px #1f1f1f;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: space-between;
}